*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    height:100vh;
}

body,.gameboards{
    height: 100%;
}


.gameboards{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.board-holder{
    /* display: flex; */
}

.board{
    display:flex;
}

.board-title{
    padding:2rem;
    text-align: center;
}

.column{
    text-align: center;
}

.letter-tile-0{
    visibility: hidden;
}

.number-tile{
    padding:.5rem 1rem;
    border:1px solid black;
}

.column>*:first-child{
    border-style: none;
    padding:.5rem
}

.column-0 > *{
    border:1px solid white;
}