*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    height:100vh;
}

body{
    height: 100%;
}


.gameboards{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}

.board-holder{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    width: 50%;
}

.board{
    display:flex;
    justify-content: center;
}

.board-title{
    padding:2rem 0rem;
    text-align: center;
}

.column{
    text-align: center;
    
}

.letter-tile-0{
    visibility: hidden;
}

.number-tile{
    padding:1.2rem;
    border:1px solid black;
    
}

.column>*:first-child{
    border: 1px solid white;
    padding:.5rem
    
}

.column-0 > *{
    border:1px solid white;
}

.column-0> .number-tile {
    padding: .6rem;
    background-color: white;;
}

.number-tile{
    background-color: rgb(7, 133, 133);
}
.highlight {
    background-color: yellow;
}

.hit-tile{
    background-color:red;
}

.missed-tile{
    background-color: gray;
}


.winner-message-container{
    font-size: 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    height: 50%;
}

.ship-holder{
    border:1px solid black;
    display:flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    width:60%;
    /* margin: 0 auto; */

}

.player-ships{
    display: flex;
    flex-flow: row wrap;
}

.ship{
    margin:.5rem;
    height:100%;
}

.ship-holder .hide-ship{
    display: none;
}

.border-start{
    padding: 1rem;
    border: 1px solid black;
    background-color: aqua;
}


.shark-img{
    background-color:yellow;
}

.border{
    padding: 1.20rem;
    border:1px solid black;
}

.center-button{
    text-align: center;
}
.ship-rotate > *{
    display:flex;
flex-flow: row nowrap;
}



